<div class="contact-card">
    <h3 class="title">Get Appointment </h3>

    <form class="banner-cta" [formGroup]="appointmentForm" (ngSubmit)="onSubmit()">

        <div class="form-field">
            <input type="text" placeholder="Name" formControlName="patient_name"
                [class.invalid]="submitted && f['patient_name'].invalid">

            <div class="error-message" *ngIf="submitted && f['patient_name'].invalid">
                <small *ngIf="f['patient_name'].errors?.['required']">Name is required</small>
                <small *ngIf="f['patient_name'].errors?.['minlength']">
                    Name must be at least 2 characters
                </small>
            </div>
        </div>

        <div class="form-field">
            <input type="text" placeholder="Mobile Number" formControlName="mobile_number" maxlength="10"
                [class.invalid]="submitted && f['mobile_number'].invalid">

            <div class="error-message" *ngIf="submitted && f['mobile_number'].invalid">
                <small *ngIf="f['mobile_number'].errors?.['required']">Mobile number is required</small>
                <small *ngIf="f['mobile_number'].errors?.['pattern']">
                    Enter a valid 10-digit mobile number
                </small>
            </div>
        </div>

        <button type="submit" class="book-btn" [disabled]="isSubmitting">
            {{ isSubmitting ? 'Submitting...' : 'SUBMIT' }}
        </button>

    </form>

</div>